<div>
    <form>
        <button formaction="http://localhost:3000/landing" style="margin-left : 300%;" style="height:50px;width:50px" class="btn btn-primary" type="submit">REFRESH</button>
      </form></div>