<div class="topnav">
    <div class="container-items">
        <a href="http://localhost:3000/login/">Transformers News App</a>
        <div class="topnav-right">
            <a href="http://localhost:3000/register/">Sign Up</a>
            <a href="http://localhost:3000/login/">Login</a>
        </div>
    </div>
    
    
</div>


