<div class="topnav">
    <div class="container-items">
        <a href="http://localhost:3000/News/">Transformers News App</a>
        <div class="topnav-right">
            <a href="http://localhost:3000/News/">Refresh</a>
            <a href="http://localhost:3000/login/">Sign Out</a>
        </div>
    </div>
    
    
</div>


