| | | | |
|-|-|-|-|
|Test Case ID|Name of Person|Pass/ Fail|Comments|
|SU_1|Krishna Teja|Pass| |
|SU_2|Krishna Teja|Pass| |
|SU_3|Krishna Teja|Pass| |
|SU_4|Krishna Teja|Pass| |
|SU_5|Krishna Teja|Pass| |
|SU_6|Krishna Teja|Pass| |
|SU_7|Krishna Teja|Pass| |
|SU_8|Krishna Teja|Pass| |
|SU_9|Krishna Teja|Pass| |
|SU_10|Krishna Teja|Pass| |
|SU_11|Krishna Teja|Pass| |
|SU_12|Krishna Teja|Pass| |
|SU_13|Krishna Teja|Pass| |
|SU_14|Krishna Teja|Pass| |
|SU_15|Krishna Teja|Pass| |
|SI_1|Zahabiya F. Rangwala|Pass| |
|SI_2|Zahabiya F. Rangwala|Pass| |
|SI_3|Zahabiya F. Rangwala|Pass| |
|SI_4|Zahabiya F. Rangwala|Pass| |
|SI_5|Zahabiya F. Rangwala|Pass| |
|SI_6|Zahabiya F. Rangwala|Pass| |
|L_1|Zahabiya F. Rangwala|Pass| |
|L_2|Zahabiya F. Rangwala|Pass| |
|API_1|Garima Negi|Pass| |
|API_2|Garima Negi|Pass| |
|API_3|Garima Negi|Pass| |
|API_4|Garima Negi|Pass| |
|API_5|Garima Negi|Pass| |
|API_6|Garima Negi|Pass| |
|API_7|Garima Negi|Pass| |
|API_8|Garima Negi|Pass| |
|API_9|Garima Negi|Pass| |
|API_10|Garima Negi|Pass| |
